@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: "principal";
    src: url("../font/PINEON.ttf") format(truetype);
}

:root {
    --cor1: #3B3936;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--cor1);
}

header {
    padding: 60px 0px;
    background-image: linear-gradient(to bottom, #022424, #181818);
    color: white;
    text-align: center;
}

header h1 {
    font-size: 4em;
    padding-bottom: 15px;
    font-family: "principal";
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    max-width: 700px;
    display: block;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

#inicio-texto {
    text-align: start;
    background-color: #f7f6f6;
}

#inicio-texto>.primeiro {
    padding-top: 40px;
}

#inicio-texto>.ultimo {
    padding-bottom: 40px;
}

#inicio-texto>p {
    color: black;
    max-width: 850px;
    display: block;
    margin: auto;
    font-size: 1.5em;
    padding: 5px 25px;
}

main section h2 {
    font-family: "principal";
    font-size: 2em;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}

main section p {
    padding-top: 5px;
}

main .texto {
    background-color: #a0a0a0;
    padding: 40px 60px;
    color: white;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.paragrafo {
    padding: 20px 40px 2px 40px;
}

main .imagem {
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
}


main #img-1 {
    background-image: url("../img/ciclismo-01.jpg");
    background-position: center center;
}

main #img-1 p {
    background-color: #86AD2E;
    color: white;
    display: inline;
    margin: 20px 10px;
    padding: 30px;
    border-radius: 40% 40% 0px 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

main #img-1 p:hover {
    background-color: #EC5EF2;
    border-radius: 50%;
    transition: 1s, border 0.5s;
    transition-delay: 0.2;
    border: 3px solid #ffffff;
}

main #img-2 {
    background-image: url("../img/ciclismo-02.jpg");
    background-position: bottom center;
}

main #img-2 p {
    background-color: #DE822D;
    color: white;
    display: inline;
    margin: 20px 10px;
    padding: 30px;
    border-radius: 40% 40% 0px 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

main #img-2 p:hover {
    background-color: #30C8F0;
    border-radius: 50%;
    transition: 1s, border 0.5s;
    transition-delay: 0.2;
    border: 3px solid #ffffff;
}

main #img-3 {
    background-image: url("../img/esporte-na-neve-01-grande.jpg");
}

main #img-3 p {
    background-color: #71859E;
    color: white;
    display: inline;
    margin: 20px 10px;
    padding: 30px;
    border-radius: 40% 40% 0px 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

main #img-3 p:hover {
    background-color: #F0AC30;
    border-radius: 50%;
    transition: 1s, border 0.5s;
    transition-delay: 0.2;
    border: 3px solid #ffffff;
}

main #img-4 {
    background-image: url("../img/esporte-na-neve-02-grande.jpg");
    background-position: top center;
}

main #img-4 p {
    background-color: #931314;
    color: white;
    display: inline;
    margin: 20px 10px;
    padding: 30px;
    border-radius: 40% 40% 0px 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

main #img-4 p:hover {
    background-color: #30F066;
    border-radius: 50%;
    transition: 1s, border 0.5s;
    transition-delay: 0.2;
    border: 3px solid #ffffff;
}

main #img-5 {
    background-image: url("../img/esporte-na-neve-03-grande.jpg");
    background-position: center center;
}

main #img-5 p {
    background-color: #00476A;
    color: white;
    display: inline;
    margin: 20px 10px;
    padding: 30px;
    border-radius: 40% 40% 0px 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

main #img-5 p:hover {
    background-color: #F09A30;
    border-radius: 50%;
    transition: 1s, border 0.5s;
    transition-delay: 0.2;
    border: 3px solid #ffffff;
}

#ciclismo-1 {
    background-image: linear-gradient(to right, #86AD2E 20%, #fff6f6);
}

#ciclismo-2 {
    background-image: linear-gradient(to right, #DE822D 20%, #fff6f6);
}

#neve-1 {
    background-image: linear-gradient(to right, #71859E 20%, #fff6f6);
}

#neve-2 {
    background-image: linear-gradient(to right, #931314 20%, #fff6f6);
}

#neve-3 {
    background-image: linear-gradient(to right, #00476A 20%, #fff6f6);
}

footer {
    text-align: center;
    background-color: var(--cor1);
    padding: 10px;
    color: white;
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: aquamarine;
}