@media(max-width: 620px) {

    header {
        padding: 30px 0px;
    }
    
    header h1 {
        font-size: 2em;
        padding-bottom: 10px;
    }
    
    header p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        max-width: 300px;
    }

    main section h2 {
        padding: 10px;
        margin: 10px 0px;
        border-radius: 5px;
    }

    main .texto {
        padding: 40px 30px;
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
    }

    main .imagem {
        height: 75vh;
        background-size: cover;
        background-attachment: fixed;
    }

    main #img-1 {
        background-image: url("../img/ciclismo-01-pequeno.jpg");
        background-position: center center;
    }

    main #img-2 {
        background-image: url("../img/ciclismo-02-pequeno.jpg");
        background-position: center center;
    }

    main #img-3 {
        background-image: url("../img/esporte-na-neve-01.jpg");
        background-position: center center;
    }

    main #img-4 {
        background-image: url("../img/esporte-na-neve-02.jpg");
        background-position: center center;
    }

    main #img-5 {
        background-image: url("../img/esporte-na-neve-03.jpg");
        background-position: right bottom;
    }

    footer p {
        font-size: 0.8em;
    }
}